/*! global.css */
body {
  font-family: 'Dancing Script', cursive;
}

h1,
h2,
h3 {
  font-family: 'Parisienne', cursive;
}

h1 {
  @apply text-5xl text-center;
}

h2 {
  @apply text-4xl text-center mt-6 mb-2;
}

h3 {
  @apply text-3xl text-center mt-6 mb-2;
}

a {
  @apply text-blue-600;
}

p {
  @apply text-justify text-xl;

  text-indent: 2rem;
}
